*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
html{
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
}

h1{
    font-size: 2rem;
}

#divTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px;
}